
.add-school-page
{
  display: grid;
  grid-template-rows: 100px 150px;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  color: rgba(0,0,0,.7);
  label
  {
    display: block;
  }

  input[type="text"]
  {
    @extend .text-inputs;
  }
  input[type="submit"]
  {
    @extend .submit_inputs;
    width: 90%;
    margin-top: 12%;
    height: 30px;
  }
  .add-school-form
  {
    padding: 2%;
    border-radius: 5px;
  }
  .add-school-form
  {
    grid-row: 2/3;
    background-color: white;
    width: 100%;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 20% 65% 15%;
  }
}