/*
THIS FILE CONTAINS DEFAULT LAYOUT codes
*/

body
{
  min-width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: lighten(darkgrey,15%);
}

.wrapper
{
  width: 85%;
  min-height: calc(100vh - 60px);
  position: absolute;
  padding: 5% 3%;
  top: 60px;
  left: 15%;
}
a
{
  text-decoration: none;
}
.instruction-msg,.hero
{
  background-color:#fcfcfc ;
  border-radius: 5px;
  padding: 2% 2% 2% 3%;
  li
  {
  font-size: 14px;
  }
}
.hero
{
  text-align: center;
  color: rgba(0,0,0,.7);
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,.6);
}

