@media only screen and (min-width: 312px) and (max-width: 767px){

//  LOGIN PAGE STARTS HERE
  .login-header h2
  {
    font-size: 30px;
    //color: yellow;
  }
  form.login-form
  {
    width: 90%;
    margin: 20% 5% 2%;
  }
//  login page ends here

}